# Python Scripting Guide - Week 6

**Aim**: The aim of this notebook is to store & practise working python code that will be used while learning the python scripting course on Coursera.

### Lists

In [1]:
simple_list = ["a", "b", "c"]

In [4]:
list_function = list(range(5))
list_function

[0, 1, 2, 3, 4]

In [5]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [6]:
list(range(5,10,2))

[5, 7, 9]

In [8]:
list(range(10, 5,-1))

[10, 9, 8, 7, 6]

In [9]:
simple_list[0]

'a'

In [10]:
len(simple_list)

3

In [11]:
simple_list[1:3]

['b', 'c']

### Splitting & Joining

In [12]:
word = "Kevin is good"
word.split()

['Kevin', 'is', 'good']

In [13]:
word.split(" ")

['Kevin', 'is', 'good']

In [14]:
word.split("n")

['Kevi', ' is good']

In [16]:
"".join(simple_list)

'abc'

In [17]:
"KEVIN".join(simple_list)

'aKEVINbKEVINc'

In [18]:
" ".join(simple_list)

'a b c'

### Searching

In [19]:
simple_list.index("a")

0

In [20]:
"a" in simple_list

True

In [21]:
"kevin" not in simple_list

True

In [22]:
simple_list.count("a")

1

### Iteration

In [23]:
for item in simple_list:
    
    print(item)

a
b
c

In [25]:
length = len(simple_list)
length

3

In [26]:
for index in range(length):
    
    print(simple_list[index])

a
b
c

In [27]:
count = 0

for item in simple_list:
    
    count = count + 1

In [28]:
print(count)

3

In [29]:
count = 0 

for item in simple_list:
    
    if item == "a":
        
        count = count + 1

In [30]:
count

1

### Practise Excercise

**Problem 1**: Prime numbers

In [32]:
list_prime = [2,3,5,7,11,13]
print(list_prime[1], list_prime[3], list_prime[5])

3 7 13

**Problem 2**: First & last

In [33]:
example_list = [1,2,3,4]

print(example_list[0], example_list[-1])

1 4

**Problem 3**: Exclusion

In [34]:
example_list[1:-1]

[2, 3]

**Problem 4:** Multiple items

In [52]:
word = "True," *8 + "False,"*8
word.split(",")

['True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'True',
 'False',
 'False',
 'False',
 'False',
 'False',
 'False',
 'False',
 'False',
 '']

**Problem 5:** Split

In [53]:
text = "Kevin is cool"
text.split(" ")

['Kevin', 'is', 'cool']

**Problem 6:** Word count

In [54]:
def word_count(text, word):
    
    text_list = text.split(" ")
    
    count = 0
    
    if word in text_list:
        
        count = count + 1
        
    return count

In [55]:
word_count(text, "Kevin")

1

**Problem 7:** List updates

In [56]:
# Initial list
list1 = [2, 3, 5, 7, 11, 13]

# Another reference to list1
list2 = list1

# Print out both lists
print(list1)
print(list2)

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13]

In [57]:
# Update the first item in second list to zero
list2[0] = 0

# Print out both lists
print(list1)
print(list2)

[0, 3, 5, 7, 11, 13]
[0, 3, 5, 7, 11, 13]

**Both lists get updated if only one list is updated**

**Problem 8**: List update with list function

In [58]:
# Initial list
list1 = [2, 3, 5, 7, 11, 13]

# Make a copy of list1
list2 = list(list1)

# Print out both lists
print(list1)
print(list2)

[2, 3, 5, 7, 11, 13]
[2, 3, 5, 7, 11, 13]

In [59]:
# Update the first item in second list to zero
list2[0] = 0

# Print out both lists
print(list1)
print(list2)

[2, 3, 5, 7, 11, 13]
[0, 3, 5, 7, 11, 13]

**If you use the list function only the updated list will get updated and not both lists**

**Problem 9**: Maximum number

In [62]:
def list_max(num_list):
    
    max_num = max(num_list)
    
    return max_num

In [63]:
list_max([1,2,3])

3

**Problem 10**: Concat ints

In [85]:
def concat_ints(int_list):
    
    new_list = []
    
    for num in int_list:
        
        num = str(num)
        
        new_list.append(num)
    
    nums = "".join(new_list)
    
    nums = int(nums)
    
    return nums

In [86]:
concat_ints([1,2,3])

123