# Python Scripting Guide - Week 7

**Aim**: The aim of this notebook is to store & practise working python code that will be used while learning the python scripting course on Coursera.

### List Mutation

In [8]:
list_test = [1,2,3]

list_test.append(10)

list_test

[1, 2, 3, 10]

In [9]:
list_test.insert(1,100)
list_test

[1, 100, 2, 3, 10]

In [10]:
new_list = [99,99]
list_test.extend(new_list)

In [11]:
list_test

[1, 100, 2, 3, 10, 99, 99]

In [12]:
list_test.append(new_list)
list_test

[1, 100, 2, 3, 10, 99, 99, [99, 99]]

In [13]:
list_test.pop()
list_test

[1, 100, 2, 3, 10, 99, 99]

In [14]:
list_test.pop()
list_test

[1, 100, 2, 3, 10, 99]

In [15]:
list_test.pop(0)
list_test

[100, 2, 3, 10, 99]

### Tuples

In [25]:
tup = (1,2,2)
tup

(1, 2, 2)

In [18]:
tup[0]

1

In [19]:
tup[0] = 2

TypeError: 'tuple' object does not support item assignment

In [21]:
tup.index(1)

0

In [26]:
tup.count(2)

2

In [28]:
for item in tup:
    
    print(item)

1
2
2

In [29]:
list_1 = [1,2,2]
tup = tuple(list_1)
tup

(1, 2, 2)

### Objects & References

In [30]:
#No change 

list1 = [1,2,3]
list2 = [1,2,3]

list1[0] = 99

print(list1, list2)

[99, 2, 3] [1, 2, 3]

In [31]:
#No change 

list1 = [1,2,3]
list2 = [1,2,3]

list2 = list(list1)

list1[0] = 99

print(list1, list2)

[99, 2, 3] [1, 2, 3]

In [32]:
#YES change 

list1 = list2

list1[0] = 99

print(list1, list2)

[99, 2, 3] [99, 2, 3]

### Practise Problems

**Problem 1**: Assignment

In [33]:
list1 = [1,2,3,4]
list1[2] = 0
list1

[1, 2, 0, 4]

**Problem 2:** List assignment in list

In [34]:
list1 = [1,2,3,4]
list2 = [0,0,0]

list1[1] = list2
list1[2] = list2

list1

[1, [0, 0, 0], [0, 0, 0], 4]

**Problem 3:** Append

In [36]:
list1 = [1,2,3,4]
list1.append(0)
list1

[1, 2, 3, 4, 0]

**Problem 4:** Append list to list

In [37]:
list1 = [1,2,3,4]
list1.append([0,0,0])
list1

[1, 2, 3, 4, [0, 0, 0]]

**Problem 5/6**: Append numbers from list to list

In [39]:
list1 = [1,2,3,4]
list2 = [0,0,0]

for num in list2:
    
    list1.append(num)

list1

[1, 2, 3, 4, 0, 0, 0]

**Problem 7:** Tuple

In [40]:
list1 = [1,2,3]

tup = tuple(list1)
tup

(1, 2, 3)

**Problem 8**: Random

In [41]:
list1 = [1,2,3]
import random

In [46]:
random.shuffle(list1)
print(list1)

[2, 1, 3]

**Problem 9**: Unique list

In [53]:
import numpy as np

def unique_list(list_input):
    
    list_unique = np.unique(list_input)
    
    list_uni = list(list_unique)
    
    return list_uni

In [54]:
unique_list([1,2,3])

[1, 2, 3]